{% extends 'base.html.twig' %}

{% block title %}Project1{% endblock %}

{% block body %}
    {% if articles %}
        <table class="table table-striped">
            <tr>
                <th>Article Title</th>
                <th>Actions</th>
            </tr>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>
                            <a href="/article/{{article.id}}" class="btn btn-dark">Show</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No articles to display</p>
    {% endif %}
{% endblock %}